@import '../../variables.scss';

.Authenticate {
  height: 100vh;
  text-align: center;
  background: $bg-gradient;
  .col {
    position: absolute;
    margin-top: 150px;
    text-align: left;
  }
  header {
    color: $white;
    font-size: 20px;
  }
  header .white-dash {
    background-color: white;
    height: 5px;
    width: 70px;
    margin: 22px 0px 22px 15px;
  }
  header .heading {
    color: $gray;
    font-size: 64px;
    font-weight: bold;
  }
  header p {
    margin: 10px;
    font-weight: bold;
  }
  header .hoverable {
    color: $gray;
    font-weight: bold;
    transition: 2s;
  }
  header .colored {
    color: $teal-light;
  }
  header .hoverable:hover {
    transition: 0.5s;
    color: $teal-light;
    cursor: default;
  }
  .start {
    margin-top: 20px;
    width: 170px;
    color: $white;
    background-color: transparent;
  }
}
