@import '../../variables.scss';

.Home {
  color: $dark-gray;
  .trip-grid {
    margin-bottom: 20px;
  }
  .trip-grid .trip-card {
    border: none;
    // box-shadow: 4px 4px 4px 4px $gray;
    color: white;
    background-color: $fourth-theme;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    float: left;
    margin: 0px 20px 20px 0px;
    &:hover {
      cursor: pointer;
    }
  }
  .trip-grid .trip-card .title {
    font-weight: normal;
    font-size: 24px;
  }
  .trip-grid .trip-card .date {
    font-size: 16px;
  }
}
