@import '../../variables.scss';
.Modal {
  &.cover {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: $z-index-6;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    pointer-events: none;
  }
  .modal-content {
    position: absolute;
    width: 80%;
    height: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: $white;
    padding: 20px;
    z-index: $z-index-7;
    border-radius: 5px;
  }
  .close-btn {
    background-color: red;
    color: $white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
