@import '../../variables.scss';

.Navbar {
  margin: 10px 0px 0px 0px;
  padding: 0px 60px;
  border-bottom: 1px solid gray;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    padding: 10px 30px;
    border-bottom: 5px solid transparent;
    font-weight: 600;
  }
  li:hover {
    border-bottom: 5px solid $secondary-theme;
    cursor: pointer;
  }
  li:hover > a {
    color: $secondary-theme;
  }
  li a {
    color: black;
    text-decoration: none;
  }
  li.right {
    float: right;
  }
}
