@import '../../variables.scss';

nav.Navbar {
  margin: 0px;
  position: absolute;
  z-index: $nav-bar-z-index;
  width: 100%;
  font-size: 14px;
  &.authClassName {
    background-color: white;
    border-bottom: 1px solid $gray;
  }
  ul {
    list-style-type: none;
    margin: 10px 60px;
    overflow: hidden;
    padding: 0px;
  }
  ul.signed-in > li > a {
    color: $dark-gray;
  }
  li {
    float: left;
    padding: 10px 20px;
    border-bottom: 5px solid transparent;
  }
  li:hover {
    cursor: pointer;
  }
  li a {
    text-decoration: none;
    font-weight: 500;
  }
  li button {
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
  }
  li.borders {
    border: 2px solid $white;
    border-radius: 5px;
  }
  li.right {
    float: right;
  }
}
