$red-dark: #d56366;
$red-light: #e87375;
$teal-dark: #6cefd9;
$teal-light: #76f7e0;
$purple-dark: #8a61f9;
$purple-light: #a3b7ff;
$blue-dark: #4aa1ff;
$blue-light: #4599f8;
$orange-dark: #f6bb76;
$orange-light: #facb6a;

$first-theme: $red-light;
$second-theme: $teal-light;
$third-theme: $blue-light;
$fourth-theme: $orange-light;

$gray: #f0f0f0;
$dark-gray: #484848;
$white: #ffffff;
$black: #000000;

$bg-gradient: linear-gradient(
  152deg,
  rgba(74, 161, 255, 1) 0%,
  rgba(108, 239, 217, 1) 99%
);

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;

$nav-bar-z-index: $z-index-7;
