/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
$Rustic-with-Teal-Accent-1-hex: #77e3c4;
$Rustic-with-Teal-Accent-2-hex: #ff8986;
$Rustic-with-Teal-Accent-3-hex: #ffc7a7;
$Rustic-with-Teal-Accent-4-hex: #ffefd5;
$Rustic-with-Teal-Accent-5-hex: #ffaf7b;

$primary-theme: #ff8986;
$secondary-theme: #77e3c4;
$third-theme: #ffaf7b;
